#bg{
    width: 100%;
    height: 100%;
    background-color:white;
}
.navi-li{
   padding: 0px;
   background-image:url("../images/lap.png");
   width: 100%;
   height: 60vh;
   background-size: cover;
   background-position: bottom;


}
.navi-li li{
   display: inline-block;
   padding-top: 50px;
   margin-left:50px ;
}
.navi-li li a{
    text-decoration: none;
    color: honeydew;
    font-size: x-large;
}
.center-text{
    text-align: center;
}
.round-pic{
    border-radius: 50%;
    position: relative;
    top: -110px;
    box-shadow: 0px 1px 10px 1px #000000;

}
.navi-li li a:hover{
    font-size: xx-large;
    color:gold;
    transition: color 0.5s , font-size 0.5s  ;
}
.cursive{
    font-family: cursive;
    font-size: xx-large;
    font-weight: 900;
    position: relative;
    top: -110px;
}
#about{
    text-align: center;
    font-style: italic;
    font-family: cursive;
    font-size: large;
}
#qualification{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    display: flex;
    font-weight: 600;
}
#one{
    width: 400px;
    height: 280px;
    margin: auto;
    background-color:rgb(18, 226, 233);
    text-align: start;
    border-style: solid;
    border-color: rgb(71, 255, 221);
    border-radius: 10px;
}
#one th{
    text-align: start;
}
#one table td{
padding-left: 50px;
}

#one:hover{
    width: 600px;
    height: 500px;
    font-size:xx-large;
    transition: width 0.5s , height 0.5s , font-size 0.5s ;
    box-shadow:0px 1px 10px 1px #000000;

}
#two{
    width: 400px;
    height: 280px;
    margin: auto;
    background-color:rgb(18, 226, 233);
    text-align: start;
    border-color: rgb(71, 255, 221);
    border-radius: 10px;
}
#two th{
    text-align: start;
}
#two table td{
padding-left: 50px;
}

#two:hover{
    width: 600px;
    height: 500px;
    font-size:xx-large;
    transition: width 0.5s , height 0.5s , font-size 0.5s ;
   box-shadow:0px 1px 10px 1px #000000;
}
#contact{
    background-color: black;
}
#contact a{
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    padding-bottom: 10px;
}
.right{
    float: right;
    position: relative;
    top: -80px;
    left:-20px;
}
#skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 40vh;
}
#html span{
    background-color: blue;
    font-size: 30px;
}
#html{
    background-color:blue;
    width: 180px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.into{
    background-color: lightgrey;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}
#css span{
    background-color:rgb(140, 252, 59) ;
    font-size: 30px;
}
#css{
    background-color:rgb(140, 252, 59);
    width: 100px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#hewo{
    background-color:rgb(255, 81, 188);
    width: 80px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#hewo span{
    background-color:rgb(255, 81, 188) ;
}
#js{
    background-color:rgb(223, 255, 81);
    width: 120px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#js span{
    font-size: 25px;
}
.into:hover{
    box-shadow: 1px 1px 10px 1px black;
}
#details{
    transition: all 3s ease-in-out;
    position:fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(128, 255, 0,0.7);
}
#details:target{
    top: 40%;
    left: 30%;
    height: 370px;
    width: 380px;
    border: solid 4px gray;
}
a{
    text-decoration: none;
color: black;
}
